body {
  overflow: hidden;
}

FormContainer {
  background-color: #0303e8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  color: aliceblue;
  mix-blend-mode: hard-light;
  filter: contrast(100);
}

img {
  height: 5rem;
  border-radius: 1rem;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: whitesmoke;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.301),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(1rem);
  transition: 0.4s;
  backdrop-filter: blur(1rem);
  transition: 0.4s;
  border-radius: 2rem;
  padding: 3rem 5rem;
  justify-content: center;
  align-items: center;
}

/* form:hover {
  background: linear-gradient(
    to top left,
    rgba(108, 135, 189, 0.442),
    rgba(92, 115, 161, 0.473)
  );
  color: beige;
  transform: scale(1.05);
}

form:hover > input::placeholder {
  color: rgba(104, 192, 230, 0.747);
} */

input {
  background-color: transparent;
  padding: 1rem;
  height: 3rem;
  border: 0.1rem solid rgb(255, 255, 255);
  border-radius: 0.4rem;
  color: rgb(39, 133, 170);
  width: 100%;
  font-size: 1rem;
}

form > input::placeholder {
  color: rgba(255, 255, 255, 0.932);
  opacity: 1;
}

input:focus {
  border: 0.1rem solid rgb(8 51 68);
  outline: none;
}

button {
  color: white;
  padding: 2rem;
  border: none;
  font-weight: bold;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: #0037ad;
}

span {
  color: white;
  text-transform: uppercase;
}

a {
  color: #4e0eff;
  text-transform: none;
  font-weight: bolder;
}

.chatcontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: azure;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  padding: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #7380fb39;
  width: 0.2rem;
  border-radius: 5rem;
}

::-webkit-scrollbar {
  width: 0.2rem;
}

.container {
  height: 95vh;
  width: 95vw;
  background-color: #00000076;
  display: grid;
  grid-template-columns: 25% 75%;
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    grid-template-columns: 35% 65%;
  }
}

.google-sign-in-button {
  cursor: pointer;
  transition: background-color .3s, box-shadow .3s;
      
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: rgb(48, 48, 48);
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

.google-sign-in-button:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.google-sign-in-button:active {
  background-color: #eeeeee;
}

.google-sign-in-button:active {
  outline: none;
      box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
}

